.profileActionButton{
    background: #E3ECF5;
    border-radius: 8px;
    width: 138px;
    height: 52px;
    font-family: var(--bold);
    font-size: 16px;
    line-height: 28px;
    color: var(--gray-100);
    margin-top: 40px;
    transition: 0.4s;

    &:hover{
        background: var(--pink);
        color: var(--white);
    }
}