.productButton {
    width: 126px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #473E43;
    background: var(--yellow-100);
    font-family: var(--bold);
    border-radius: 8px;
    font-size: 14px;
    line-height: 28px;
    transition: 0.4s;

    &:hover{
        color: var(--white);
    };
}