.navigationLink{
    color: var(--gray-100);
    font-family: var(--bold);
    font-size: 16px;
    line-height: 28px;

    &:not(:first-child){
        margin-left: 20px;
    }
}

.navigation{
    display: flex;
    align-items: center;
}

@media(max-width: 600px){
    .navigationLink{
        font-size: 14px;

        &:not(:first-child){
            margin-left: 10px;
        }
    }
}