.formInput{
    width: 255px;
    height: 48px;
}

.authForm{
    max-width: 405px;
}

.adressForm{
    max-width: 430px;
}

.switchFormType{
    margin-top: 10px;
    color: var(--pink);
    font-family: var(--medium);
    font-size: 12px;
}

.formInputErrorMessage{
    margin-top: 10px;
    color: var(--pink);
    font-family: var(--medium);
    font-size: 12px;
}

.formItem{
    
    & div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &:not(:first-child){
        margin-top: 15px;
    }
}

.sendFormButton{
    width: 224px;
    height: 55px;
    background: var(--yellow-100);
    margin-top: 40px;
    font-size: 15px;
    line-height: 28px;
    font-family: var(--bold);
    transition: 0.4s color;
    border-radius: 8px;

    &:hover{
        color: #FFFFFF;
    }
}