.orderInfo{
    max-width: 730px;
    width: 100%;
}

.sectionOrderContent{
    display: flex;
    justify-content: space-between;
}

.orderActions{
    margin-top: 143px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.createOrderButton{
    width: 225px;
    height: 55px;
    background: var(--yellow-100);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--bold);
}

@media(max-width: 1110px){
    .orderInfo{
        max-width: 600px;
    }
}

@media(max-width: 970px){
    .orderInfo{
        max-width: 430px;
    }
}

@media(max-width: 770px){
    .sectionOrderContent{
        flex-direction: column;
    }

    .orderActions{
        margin-top: 20px;
        flex-direction: column;
        align-items: start;
    }
}